body {
    background-color: lightslategrey;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

#root > div {
    flex: 1;
}

.card {
    background-color: beige;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}